<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form method="POST" action="/piglatinize">
      <textarea name="user_phrase">Enter your phrase:</textarea>
      <button type="submit" name="submit">Submit</button>

    </form>

    <%= yield %>
  
  
  </body>
</html>